* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #F3F3F5;
    color: #333;
    font-family: "Ubuntu", sans-serif;
}

.container {
    background: #FFF;

    margin: 5% auto 5%;
    max-width: 450px;
    padding: 12px;

    border-radius: 6px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px 0;
}

main .form {
    margin: 4px 0;
}

main .form .message {
    background: rgba(243, 243, 16, 0.89);
    margin: 10px 0 0;
    padding: 4px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
}

main .form .message span {
    font-size: 12px;
}

main form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .form form label {
    font-weight: bold;

    margin: 4px 0;
}

main .form form input {
    height: 32px;

    margin: 4px 0;
    padding-left: 12px;
    border: 1px solid #999;
    border-radius: 4px;
}

main .form form input:focus {
    background: #F0F0F5;
}

main .form form button {
    background: #AB47BC;
    color: #FFF;

    height: 32px;
    border: none;
    border-radius: 4px;

    margin: 4px 0;

    transition: background 0.3s;
}

main .form form button:hover {
    background: #AA47BCE5;
}

main .separator {
    background: #BBB;
    height: 2px;
    border-radius: 1px;
}

main .task-list {
    margin: 12px 0;
}

main .task-list ul {
    list-style: none;
}

main .task-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 4px 0;
}

main .task-list ul li .task_title{
    background: #AB47BC;
    color: #FFF;

    height: 32px;
    border: none;
    border-radius: 4px;

    width: 400px;
    
    padding: 6px;

    transition: background 0.3s;
}

main .task-list ul li .task_title:hover {
    background: #AA47BCE5;
}

main .task-list ul li button{
    background: #C73116EA;
    color: #FFF;

    height: 32px;
    border: none;
    border-radius: 4px;    
    padding: 6px;

    transition: background 0.3s;
}

main .task-list ul li button:hover {
    background: #C73116D0;
}

footer {
    background: #F0F0F5;

    border-radius: 4px;
    padding: 7px;

    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #999;
    font-size: 12px;
}

footer p a {
    color: #999;
    text-decoration: none;
}

footer p a:hover {
    font-weight: bold;
}